extends ../layout

block content
    h1.
        Food Id #{food._id}
    p Name: #{food.name}
    p Date: #{fooddate}
    p Expiry: #{foodexpiry}
    p Left_Overs: #{food.left_overs}
    p Quantity: #{food.quantity}